<mat-card>
    <img mat-card-image src="../../assets/about.jpg" alt="picture of website motto">
    <mat-card-content>
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, quas voluptatem quis dolorem optio explicabo, voluptas dignissimos illo quibusdam voluptate obcaecati consectetur officia repellat iste possimus excepturi? Quod totam earum cum facere enim odit eveniet, ipsum adipisci voluptates expedita iusto modi nesciunt aut inventore necessitatibus maxime? Provident fugit tenetur at!</p>
    </mat-card-content>
</mat-card>