<mat-card>
    <img mat-card-image src="../../assets/about.jpg" alt="Image of web development">
    <mat-card-title>
        About
     </mat-card-title>
    <mat-card-content>
            Hey guys, I created this blog to track my journey of learning web development and to help solve others with the problems that I faced while creating an web app or a website. Having said that, I also want to share some tips and tricks that I know ang thats it.Hope my blog helps you. 
    </mat-card-content>
</mat-card>