<mat-sidenav-container>
    <mat-sidenav
        #sidenav
        position = "start"
        mode = "over"
        role = "navigation"
        opened = "false"
    >
        <a (click)="sidenav.close()" class="close">
            <mat-icon>close</mat-icon>
        </a>
        <div>
            <ul>
                <li><a routerLink="/" class="sidenav-links" (click)="sidenav.close()">Home</a></li>
                <li><a routerLink="/blog" class="sidenav-links" (click)="sidenav.close()">Blog</a></li>
                <li><a routerLink="/about" class="sidenav-links" (click)="sidenav.close()">About</a></li>
                <!-- <li><a routerLink="/contact" class="sidenav-links" (click)="sidenav.close()">Contact</a ></li> -->
            </ul>
        </div>
    </mat-sidenav>
    <mat-sidenav-content
        role = "main"
    >
        <mat-toolbar>
            <a class="menu"  (click) = "sidenav.open()" >
                <mat-icon> menu </mat-icon>
            </a>
            <h2 > {{ '{' }}The Web Learner's Blog {{ '}' }}</h2>
            <span class="emptyspace"></span>
            <a routerLink="/" class ="links">Home</a>
            <a routerLink="/blog" class ="links">Blog</a>
            <a routerLink="/about" class ="links">About</a>
            <!-- <a routerLink="/contact"class ="links">Contact</a> -->
        </mat-toolbar>
        <div id="main">
             <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
