.postView{
    width:80%;
    margin:30px auto 0px auto;
}
:host ::ng-deep img{
    max-width:70%
}
:host ::ng-deep figure{
    text-align:center;
}
mat-spinner{
    margin:auto;
}
mat-card{
    margin-top:10px;
}
input{
    height:40px;
}
textarea{
    resize:none;
}
.formControl{
    padding:10px 10px;
    border:1px solid rgba(0,0,0,0.35);
    border-radius: 5px;
    width:80%;
    font-family: 'Roboto Slab', serif !important;
    outline: none;
}
.formControl:hover{
    box-shadow: 0px 0px 2px 2px #428bca;
}
.formGroup{
    margin-top:10px;
}
.alert{
    color:red;
}
#commentButton{
 text-align:center;
}
.comment{
    padding:10px;
    margin-top:10px;
}